.sidebarFriend{
    display: flex;
    align-items: center;
}

.sidebarGroupImg{
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.sidbarFriendImg{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.sidebarGroupText{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.sidebarGoupDesc{
    font-size: 14px;
    font-weight: 300;
}